* {
// border: 1px red dashed;
}

body {
 background: skyblue;
 text-align: center;
}

p {
  font-size: 1em;
}

h3:first-letter {
	text-transform:capitalize;
}

#weather-icon img {
	height: 100px;
}

#tempC, #tempF {
	display: inline;
	vertical-align: middle;
}

/*#degrees-button {
	display: inline-block;
}*/

.hidden {
    display: none;
}
